# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Java / Maven
backend/target/
*.class
*.jar
*.war

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.*

# Coverage
coverage/
frontend/package-lock.json
